# Python
__pycache__/
*.pyc
*.py[cod]
*$py.class
.env
.venv
env/
ENV/

# Lean .lake dirs
**/.lake/
.aider*

# data created via using the notebook
lean_data/
output.log
doc/output.log
doc/mock_sorry.json
mock_sorry.json
agentic_cache.json
output.log

outputs

logs/

# Mac OS extra files
.DS_Store

# VScode settings
.vscode/settings.json